<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<!-- <TestIndexSnippet> -->
@model TestViewModel

@{
    ViewData["Title"] = "Test";
}

<div><h1>Testoverskrift</h1></div>

<!-- </TestIndexSnippet> -->
